# IDEs
.idea/
.vscode/
.DS_Store
*.iml
**/.project
**/.settings
*.code-workspace

# Build output
dist/
build/
coverage/
node_modules/
exports/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# Editor folders
.jshintconfig
.jshintignore

# Test output
*.log
*.tap