* text=auto eol=lf

*.gif binary
*.jpg binary

*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs mergs=lfs -text

# Tell Git to invoke our "merge-metrics" driver on metrics.json
.searchMetrics/metrics.json    merge=merge_metrics
.searchMetrics/searchHistory   merge=merge_history
.agentInfo/index.md             merge=merge_agentinfo_index
.agentInfo/index-detailed.md    merge=merge_agentinfo_index
.agentInfo/notes/*.md           merge=merge_agentinfo_notes